@charset "utf-8";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div.board-column {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #dad6da;
}
